/build/resources/main/static/img/author-thumbs/1.jpg
/build/resources/main/static/img/slider/1.jpg
/build/resources/main/static/img/icons/1.png
/build/resources/main/static/img/author-thumbs/2.jpg
/build/resources/main/static/img/slider/2.jpg
/build/resources/main/static/img/icons/2.png
/build/resources/main/static/img/author-thumbs/3.jpg
/build/resources/main/static/img/icons/3.png
/build/resources/main/static/img/author-thumbs/4.jpg
/build/resources/main/static/img/add.jpg
/build/resources/main/static/css/animate.css
/build/resources/main/application.yaml
/build/resources/main/static/img/banner-bg.jpg
/build/resources/main/static/css/bootstrap.min.css
/build/resources/main/static/js/bootstrap.min.js
/build/resources/main/static/Source/bootstrap-4.2.1-dist.zip
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/build/resources/main/static/img/icons/check.png
/.gradle/9.2.1/checksums/checksums.lock
/build/resources/main/static/js/circle-progress.min.js
/build/resources/main/db/changelog/db.changelog-master.yaml
/build/classes/java/main/most_valuable_middle/game_service/web/exception/EntityNotFoundException.class
/.gradle/9.2.1/executionHistory/executionHistory.bin
/.gradle/9.2.1/executionHistory/executionHistory.lock
/build/resources/main/static/img/favicon.ico
/.gradle/file-system.probe
/.gradle/9.2.1/fileHashes/fileHashes.bin
/.gradle/9.2.1/fileHashes/fileHashes.lock
/build/resources/main/static/css/font-awesome.min.css
/build/resources/main/static/Source/font-awesome-4.7.0.zip
/build/resources/main/static/icon-fonts/fontawesome-webfont.eot
/build/resources/main/static/icon-fonts/fontawesome-webfont.svg
/build/resources/main/static/icon-fonts/fontawesome-webfont.woff
/build/resources/main/static/icon-fonts/fontawesome-webfont.woff2
/build/classes/java/main/most_valuable_middle/game_service/persistence/jpa/entity/Game.class
/build/resources/main/templates/game.html
/build/resources/main/db/changelog/changeset/game_V021_initial.sql
/build/classes/java/main/most_valuable_middle/game_service/web/controller/GameController.class
/build/classes/java/main/most_valuable_middle/game_service/persistence/redis/model/GameModel.class
/build/classes/java/main/most_valuable_middle/game_service/application/service/game/GameService.class
/build/classes/java/main/most_valuable_middle/game_service/GameServiceApplication.class
/build/classes/java/main/most_valuable_middle/game_service/application/service/game/GameServiceImpl.class
/.gradle/9.2.1/gc.properties
/.gradle/vcs-1/gc.properties
/build/resources/main/templates/index.html
/build/classes/java/main/most_valuable_middle/game_service/persistence/jpa/repository/JpaGameRepository.class
/build/classes/java/main/most_valuable_middle/game_service/persistence/jpa/repository/JpaQuestionRepository.class
/build/resources/main/static/js/jquery.magnific-popup.min.js
/build/resources/main/static/js/jquery.slicknav.js
/build/resources/main/static/js/jquery.slicknav.min.js
/build/resources/main/static/js/jquery-3.2.1.min.js
/.gradle/9.2.1/fileChanges/last-build.bin
/build/resources/main/static/img/logo.jpg
/build/resources/main/static/img/logo.png
/build/resources/main/static/img/logo-2.png
/build/resources/main/static/img/logo-3.png
/build/resources/main/static/css/magnific-popup.css
/build/resources/main/static/Source/Magnific-Popup-master.zip
/build/resources/main/static/js/main.js
/.gradle/buildOutputCleanup/outputFiles.bin
/build/resources/main/static/css/owl.carousel.min.css
/build/resources/main/static/js/owl.carousel.min.js
/build/resources/main/static/Source/OwlCarousel2-2.3.4.zip
/build/resources/main/static/Source/photo credits - gaming-mag.txt
/build/classes/java/main/most_valuable_middle/game_service/persistence/jpa/entity/Player.class
/build/tmp/compileJava/previous-compilation-data.bin
/build/reports/problems/problems-report.html
/build/classes/java/main/most_valuable_middle/game_service/persistence/jpa/entity/Question.class
/build/resources/main/db/changelog/changeset/question_elya_V020_insert_question_spring.sql
/build/resources/main/db/changelog/changeset/question_misha_V019_insert_questions_java_core.sql
/build/resources/main/db/changelog/changeset/question_taras_V002_insert_questions_java_core_base.sql
/build/resources/main/db/changelog/changeset/question_taras_V003_insert_questions_java_core_OOP.sql
/build/resources/main/db/changelog/changeset/question_taras_V004_insert_questions_java_core_collections.sql
/build/resources/main/db/changelog/changeset/question_taras_V005_insert_questions_java_core_exceptions.sql
/build/resources/main/db/changelog/changeset/question_taras_V006_insert_questions_multithreading.sql
/build/resources/main/db/changelog/changeset/question_taras_V007_insert_questions_jvm_and_memory.sql
/build/resources/main/db/changelog/changeset/question_taras_V008_insert_questions_spring_core.sql
/build/resources/main/db/changelog/changeset/question_taras_V009_insert_questions_spring_mvc_and_web.sql
/build/resources/main/db/changelog/changeset/question_taras_V010_insert_questions_db_sql.sql
/build/resources/main/db/changelog/changeset/question_taras_V011_insert_questions_jpa_and_hibernate.sql
/build/resources/main/db/changelog/changeset/question_taras_V012_insert_questions_nosql.sql
/build/resources/main/db/changelog/changeset/question_taras_V013_insert_questions_spring_security.sql
/build/resources/main/db/changelog/changeset/question_taras_V014_insert_questions_spring_boot.sql
/build/resources/main/db/changelog/changeset/question_taras_V015_insert_questions_tests.sql
/build/resources/main/db/changelog/changeset/question_taras_V016_insert_questions_architecture_and_best_practices.sql
/build/resources/main/db/changelog/changeset/question_taras_V017_insert_questions_devops_and_environment.sql
/build/resources/main/db/changelog/changeset/question_taras_V018_insert_questions_transaction_propagation_and_isolation.sql
/build/resources/main/db/changelog/changeset/question_V001__initial.sql
/build/resources/main/properties/random_avatar.properties
/build/classes/java/main/most_valuable_middle/game_service/persistence/redis/repository/RedisGameRepository.class
/.gradle/9.2.1/fileHashes/resourceHashesCache.bin
/build/resources/main/static/Source/sass.zip
/build/resources/main/static/css/slicknav.min.css
/build/resources/main/static/Source/SlickNav-master.zip
/build/resources/main/static/css/style.css
/build/resources/main/static/img/work-line.png
